--- 
appName: my-spring-app
deployName: my-first-app
imageName: "hassandocker1/my_java_image:76"
labelName: my-app
namespace: helm-ns
probes: 
  liveness: 
    initialDelaySeconds: 90
    path: /app/index
    periodSeconds: 5
    port: 8080
  readiness: 
    initialDelaySeconds: 60
    path: /app/index
    periodSeconds: 5
    port: 8080
pv: 
  labels: 
     app: persistent
     release: v1
  path: /opt/mysql-data
  storage: 1Gi

mysql:
  appName: mysql-deployment
  sqlport: 3306
  type: http
  labels:
     app: mysql
     containername: mysqlapp
     containerimg: mysql:5.7
     envname: MYSQL_ROOT_PASSWORD
     envval: secretpwd
  volume:
     name: mysql-volume
     mountpath: /var/lib/mysql
     volclaimname: my-first-app-pvc
  
resource: 
  cpu: 0.3
  limits: 
    cpu: 1
    memory: 1Gi
  memory: 512Mi
service: 
  port: 80
  targetport: 8080
  type: LoadBalancer
